node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.sw*
run
*-run
.idea
.DS_Store
.tmp
*.log.*
dist
screenshots
reports
.history
.vscode

report.*
package-lock.json
yarn.lock
yarn-error.log

.env

pairs